<br>
<h3 class="text-center">@<%= @user.username %>'s Followers</h3>
<br>

<%= render "user_list" %>

<div class="text-center">
	<div class="btn-group">
		<%= link_to "Feed", feed_path, class: "btn btn-primary" %>
		<%= link_to "@#{@user.username}'s Profile", show_user_path(id: @user.id), class: "btn btn-primary" %>
	</div>
</div>
<br>
